<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li><%= p.productData.title %>(<%= p.qty %>)</li>
            <% }) %>
        </ul>
        <h3>Total Price: <%= totalPrice %></h3>
        <%} else {%>
            <h1>No Product in the cart!</h1>
        <% }%>
</main>
<%- include('../includes/end.ejs') %>
