<!-- <%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/cart.css">
</head>

<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li>
                    <h1><%= p.title %></h1>
                    <h2>Quantity: <%= p.cartItems.quantity %></h2>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productid" value="<%= p.id %>">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <h3>Total Price: <%= totalPrice %></h3>
        <%} else {%>
            <h1>No Product in the cart!</h1>
        <% }%>
</main>
<%- include('../includes/end.ejs') %> -->


<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.title %></h1>
                            <h2>Quantity: <%= p.cartItems.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productid">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
